@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- page specific plugin scripts -->
@*<script src="~/ace/dist/js/jquery.min.js"></script>
<script src="~/ace/dist/js/jqGrid/i18n/grid.locale-cn.js"></script>
<script src="/ace/assets/js/jqGrid/jquery.jqGrid.js"></script>
<script src="/ace/assets/js/jqGrid/i18n/grid.locale-en.js"></script>s*@

<script type="text/javascript">
                window.jQuery || document.write("<script src='/ace/assets/js/jquery.js'>" + "<" + "/script>");
</script>



<!-- page specific plugin scripts -->
<script src="/ace/assets/js/date-time/bootstrap-datepicker.js"></script>
<script src="/ace/assets/js/jqGrid/jquery.jqGrid.js"></script>
<script src="/ace/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="/ace/assets/js/jqGrid/i18n/grid.locale-cn.js"></script>

<!-- PAGE CONTENT BEGINS -->
<table id="list"></table>  
<div id="pager"></div>
<!-- PAGE CONTENT ENDS -->

<script type="text/javascript">

  
    var grid_selector = "#list";
    var pager_selector = "#pager";
    var grid_data =
         [
             { id: "1", name: "Desktop Computer", note: "note", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
             { id: "2", name: "Laptop", note: "Long text ", stock: "Yes", ship: "InTime", sdate: "2007-12-03" },
             { id: "3", name: "LCD Monitor", note: "note3", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
             { id: "4", name: "Speakers", note: "note", stock: "No", ship: "ARAMEX", sdate: "2007-12-03" },
             { id: "5", name: "Laser Printer", note: "note2", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
             { id: "6", name: "Play Station", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
             { id: "7", name: "Mobile Telephone", note: "note", stock: "Yes", ship: "ARAMEX", sdate: "2007-12-03" },
             { id: "8", name: "Server", note: "note2", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
             { id: "9", name: "Matrix Printer", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
             { id: "10", name: "Desktop Computer", note: "note", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
             { id: "11", name: "Laptop", note: "Long text ", stock: "Yes", ship: "InTime", sdate: "2007-12-03" },
             { id: "12", name: "LCD Monitor", note: "note3", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
             { id: "13", name: "Speakers", note: "note", stock: "No", ship: "ARAMEX", sdate: "2007-12-03" },
             { id: "14", name: "Laser Printer", note: "note2", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
             { id: "15", name: "Play Station", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
             { id: "16", name: "Mobile Telephone", note: "note", stock: "Yes", ship: "ARAMEX", sdate: "2007-12-03" },
             { id: "17", name: "Server", note: "note2", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
             { id: "18", name: "Matrix Printer", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
             { id: "19", name: "Matrix Printer", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
             { id: "20", name: "Desktop Computer", note: "note", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
             { id: "21", name: "Laptop", note: "Long text ", stock: "Yes", ship: "InTime", sdate: "2007-12-03" },
             { id: "22", name: "LCD Monitor", note: "note3", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
             { id: "23", name: "Speakers", note: "note", stock: "No", ship: "ARAMEX", sdate: "2007-12-03" }
         ];

    jQuery(function ($) {
        //響應式 設置
        var parent_column = $(grid_selector).closest('[class*="col-"]');
        //resize to fit page size
        $(window).on('resize.jqGrid', function () {
            $(grid_selector).jqGrid('setGridWidth', parent_column.width());
        })

       // resize on sidebar collapse/expand
        $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
            if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                setTimeout(function () {
                    $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                }, 0);
            }
        })
    
    
    //

    $(grid_selector).jqGrid({
            //url:'server.php?q=2',//请求数据的地址
            data: grid_data,
            datatype: "local",
            colNames: ['ID', 'Last Sales', 'Name', 'Stock', 'Ship via', 'Notes', ' '],
            colModel: [
                { name: 'id', index: 'id', width: 60, sorttype: "int", editable: true },
                { name: 'sdate', index: 'sdate', editable: true, sorttype: "date" },
                { name: 'name', index: 'name', width: 150, editable: true, editoptions: { size: "20", maxlength: "30" } },
                { name: 'stock', index: 'stock', width: 70, editable: true, edittype: "checkbox", editoptions: { value: "Yes:No" } },
                { name: 'ship', index: 'ship', width: 90, editable: true, edittype: "select", editoptions: { value: "FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX" } },
                { name: 'note', index: 'note', width: 150, sortable: false, editable: true, edittype: "textarea", editoptions: { rows: "2", cols: "10" } },
                  {
                      name: 'myac', index: '', width: 80, fixed: true, sortable: false, resize: false,
                      formatter: 'actions',
                      formatoptions: {
                          keys: true,
                          //delbutton: false,//disable delete button

                         // delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                          //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
                      }
                  }
        ],
            //colModel: [
            //       { name: 'id', index: 'id', width: 60, editable: true, sorttype: "int" },
            //       { name: 'sdate', index: 'sdate', editable: true, sorttype: "date" },
            //       { name: 'name', index: 'name', width: 150,  editoptions: { size: "20", maxlength: "30" } },
            //       { name: 'stock', index: 'stock', width: 70,  edittype: "checkbox", editoptions: { value: "Yes:No" } },
            //       { name: 'ship', index: 'ship', width: 90, dittype: "select", editoptions: { value: "FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX" } },
            //       { name: 'note', index: 'note', width: 150, sortable: false,  edittype: "textarea", editoptions: { rows: "2", cols: "10" } },
            //         {
            //             name: 'myac', index: '', width: 80, fixed: true, sortable: false, resize: false,
            //             formatter: 'actions',
            //             formatoptions: {
            //                 keys: true,
            //                 //delbutton: false,//disable delete button

            //                 // delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
            //                 //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
            //             }
            //         }
            //],
            caption: "我是jqgrid的标题",
     
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            recordpos: 'right',
            height: 300,
            autowidth: true,

           // subGrid: true, 
            altRows: true,
            multiselect: true,
            //multikey: "ctrlKey",
            multiboxonly: false,//多選
            viewrecords: true,  // 	是否要显示总记录数信息  
            loadComplete: function () {
            var table = this;
            setTimeout(function () {
                //styleCheckbox(table);
                // updateActionIcons(table);
                updatePagerIcons(table);//分頁圖標
                //enableTooltips(table);
            }, 0);
        },
            editurl: "/SYS/Program/test"
        });
       // $(window).triggerHandler('resize.jqGrid');
    $(grid_selector).jqGrid('navGrid', pager_selector, {
            edit: true,
            editicon: 'ace-icon fa fa-pencil blue',
            add: true,
           // addurl:'/SYS/Program/test',
            addicon: 'ace-icon fa fa-plus-circle purple',
            del: true,
            delicon: 'ace-icon fa fa-trash-o red',
            search: true,
            searchicon: 'ace-icon fa fa-search orange',
            refresh: true,
            refreshicon: 'ace-icon fa fa-refresh green',
            view: true,
            viewicon: 'ace-icon fa fa-search-plus grey',
     
            editfunc: function (rowId) {
                var idStr = "#" + rowId;
                var $currRow = $("#gridTable").find(idStr);
                var triggerName = $currRow.find("td:eq(1)").text();
                var jobName = $currRow.find("td:eq(2)").text();
                var editParams = {
                    editData: {
                        triggerName: triggerName,
                        jobName: jobName
                    },
                    closeAfterEdit: true
                };
                $("#gridTable").jqGrid("editGridRow", rowId, editParams);
            }
    }
        );
    jQuery(grid_selector).navButtonAdd(pager_selector,
        { caption: "Excel", buttonicon: "ui-icon-excel", onClickButton: function () { alert("导出excel"); }, position: "last" });

    
    
        //replace icons with FontAwesome icons like above
        function updatePagerIcons(table) {
            var replacement =
            {
                'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
            };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }

        
    
    })

</script>  
